<ion-view view-title="用户登录" hide-back-button="false" style="background-color:#DDE1EE;">
	<ion-content scroll="false" class="has-header">
		 <div class="spacer" style="width: 284px; height: 22px;"></div>
		<form class="list">
			<label class="item item-input"> <span class="input-label">账号</span>
				<input type="text" id="username" name="username" placeholder="请输入账号">
			</label>
			<label class="item item-input"> <span class="input-label">密码</span>
				<input type="password" id="password" name="password" placeholder="请输入密码">
			</label>
		</form>
		<button id="page1-button1" class="button button-positive  button-block" ng-click="doLogin()">
			登录
		</button>
	</ion-content>
</ion-view>