<ion-view view-title="发运单" style="background-color:#DDE1EE;">
   <ion-content class="has-header" overflow-scroll="true" style="overflow: hidden">
        <div class="spacer" style="width: 284px; height: 20px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">发货仓库</span>
                <input type="text" placeholder="请输入发货仓库">
            </label>
            <label class="item item-input">
                <span class="input-label">订单号</span>
                <input type="text" placeholder="请输入订单号">
            </label>
            <label class="item item-input">
                <span class="input-label">客户名称</span>
                <input type="text" placeholder="请输入客户名称">
            </label>
            <label class="item item-input">
                <span class="input-label">物流商</span>
                <input type="text" placeholder="请输入物流商">
            </label>
            <label class="item item-input">
                <span class="input-label">挑库单号</span>
                <input type="text" placeholder="请输入挑库单号">
            </label>
            <label class="item item-input">
                <span class="input-label">车牌</span>
                <input type="text" placeholder="请输入车牌">
            </label>
            <label class="item item-select">
                <span class="input-label">发货状态</span>
                <select>
                    <option>-请选择-</option>
                    <option>已发货</option>
                    <option>未发货</option>
                </select>
            </label>
        </form>
        <button id="page10-button8" class="button button-balanced  button-block" ng-click="toDashList()" >搜索</button>
    </ion-content>
    
    
     <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Contact</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">First Name</span>
              <input ng-model="newUser.firstName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Last Name</span>
              <input ng-model="newUser.lastName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input ng-model="newUser.email" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    
    
</ion-view>
