<ion-view view-title="搬运单" style="background-color:#DDE1EE;">
   <ion-content class="has-header" overflow-scroll="true" style="overflow: hidden">
        <form class="list">
            <div class="spacer" style="width: 284px; height: 21px;"></div>
            <label class="item item-input">
                <span class="input-label">目标仓库</span>
                <input type="text" placeholder="请输入目标仓库">
            </label>
            <label class="item item-input">
                <span class="input-label">需求日期</span>
                <input type="date" placeholder="请输入需求日期">
            </label>
            <label class="item item-input">
                <span class="input-label">搬运单号</span>
                <input type="text" placeholder="请输入搬运单号">
            </label>
            <label class="item item-input">
                <span class="input-label">物料名称</span>
                <input type="text" placeholder="请输入物料名称">
            </label>
        </form>
        <button id="page8-button7" class="button button-balanced  button-block" ng-click="toDashList()">搜索</button>
    </ion-content>
</ion-view>
