<ion-view view-title="实时库存" style="background-color:#DDE1EE;">
 <ion-content class="has-header" overflow-scroll="true" style="overflow: hidden">
        <div class="spacer" style="width: 284px; height: 20px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">仓库名称</span>
                <input type="text" placeholder="请输入仓库名称">
            </label>
            <label class="item item-input">
                <span class="input-label">产品名称</span>
                <input type="text" placeholder="请输入产品名称">
            </label>
            <label class="item item-input">
                <span class="input-label">产品编码</span>
                <input type="text" placeholder="请输入产品编码">
            </label>
            <label class="item item-input">
                <span class="input-label">产品条码</span>
                <input type="text" placeholder="请输入产品条码">
            </label>
        </form>
        <button id="page6-button4" class="button button-balanced  button-block" ng-click="toDashList()">搜索</button>
    </ion-content>
</ion-view>
